<div class="simpleDemo" ng-controller="ListsCtrl">

  <h1>Lists</h1>
  
  <ul dnd-list="models.lists.A">
    <li ng-repeat="item in models.lists.A"
        dnd-draggable="item"
        dnd-moved="models.lists.A.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}">
      {{item.label}}
    </li>
  </ul>

  <ul dnd-list="models.lists.B">
    <li ng-repeat="item in models.lists.B"
      dnd-draggable="item"
      dnd-moved="models.lists.B.splice($index, 1)"
      dnd-effect-allowed="move"
      dnd-selected="models.selected = item"
      ng-class="{'selected': models.selected === item}">
    {{item.label}}
  </li>
  </ul>


  <%= link_to 'New List', new_list_path %>

</div>
