<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-10">
            <%= image_tag current_user.gravatar_url %>
        </div>
        <div class="col-sm-20 col-md-20">
            <blockquote>
                <p><%= current_user.first_name %> </p> <small><cite title="Source Title">Palombara Sabina, Rome  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> <%= current_user.email %>
                <br
                /> <i class="glyphicon glyphicon-globe"></i>
                <br /> <i class="glyphicon glyphicon-gift"></i> February 25, 1996</p>
        </div>
        <div class="col-sm-20 col-md-20">
          Your Projects:
          <% current_user.projects.each do |project| %>
            <%= link_to project.title, project_path(project) %>
          <% end %>

        </div>


<!-------
        <div class="col-sm-20 col-md-20">
            <img src=
            alt="" class="img-rounded img-responsive" />
        </div>  ------>

</div>
