<div ng-controller="ProjectsCtrl">

    <div class="row center">
        <div class="space col-md-12">
            <div class="row">
                <div class="space col-md-12" id="search_bar">
                    <div class="row">
                        <div class="col-md-10">
                        <input type="text" id="search" placeholder="Keyword" />
                        </div>
                        <div class="col-md-2">
                            <button ng-click='searchProject()' class = "bg-dark" id="btns">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>
    
    <div id="result" class="row space">
      <div class="col-md-12">
        <table class="table table-striped" style="text-align: justify;">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Author's reviews</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projects">
              <td> {{project.title}} </td>
              <td> {{project.first_name}}   {{project.last_name}} </td>
              <td> 4/5 </td>
              <td> <button class = "bg-dark">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>


<script>

  $(document).ready(function(){
    $('#result').hide();
  });

  $('#btns').click(function(){
    $('#result').show();
    $('html, body').animate({scrollTop: $('#result').offset().top	},3000);
  });

</script>


<!--
    <% if user_signed_in? %>
        <div class="col-md-4 "></div>
        <div class="col-md-4 ">
          <%= image_tag current_user.gravatar_url %>
        </div>
        <div class="col-md-4 "></div>
        <div class="col-md-12 space_2">
            <h1>Welcome <%= current_user.first_name %> </h1>
        </div>
    <% else %>
        <div class="col-md-12 space">
            <h1>Welcome user</h1>
        </div>
    <% end %>
-->
