<div ng-controller="ProjectsCtrl">

    <div class="row">
        <div class="space col-md-12">
            <div class="row">
                <div class="space col-md-12" id="search_bar">
                    <div class="row">
                        <% if user_signed_in? %>
                          <div class="col-md-8">
                          <input type="text" id="search" placeholder="Keyword" />
                          </div>
                          <div class="col-md-2">
                              <button ng-click='searchProject()' class = "bg-dark" id="btns">Search</button>
                          </div>  
                          <div class="col-md-2">
                              <button ng-click='searchProject()' class = "bg-dark" id="btns">Create</button>
                          </div>
                        <% else %>
                          <div class="col-md-10">
                          <input type="text" id="search" placeholder="Keyword" />
                          </div>
                          <div class="col-md-2">
                              <button ng-click='searchProject()' class = "bg-dark" id="btns">Search</button>
                          </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>
    
    <div id="result" class="row space">
      <div class="col-md-12">
        <table class="table table-striped" style="text-align: center;">
          <thead>
            <tr>
              <th ng-click = "sortProject(this,'title')" class="td-active">Title <p style='font-size: 10px;'>click to order</p></th>
              <th ng-click = "sortProject(this,'first_name')"class="td-active">Author <p style='font-size: 10px;'>click to order</p></th>
              <th ng-click = "sortProject(this,'reviews')" class="td-active">Author's reviews <p style='font-size: 10px;'>click to order</p></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projects">
              <th> {{project.title}} </th>
              <td> {{project.first_name}}   {{project.last_name}} </td>
              <td> {{project.reviews}} / 5 </td>
              <td> <button class = "bg-dark">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>

<!-- script jquery -->

<script>

  $(document).ready(function(){
    $('#result').hide();
  });

  $('#btns').click(function(){
    $('#result').show();
    $('html, body').animate({scrollTop: $('#result').offset().top	},500);
  });

</script>


<!--
    <% if user_signed_in? %>
        <div class="col-md-4 "></div>
        <div class="col-md-4 ">
          <%= image_tag current_user.gravatar_url %>
        </div>
        <div class="col-md-4 "></div>
        <div class="col-md-12 space_2">
            <h1>Welcome <%= current_user.first_name %> </h1>
        </div>
    <% else %>
        <div class="col-md-12 space">
            <h1>Welcome user</h1>
        </div>
    <% end %>
-->
