<div class="row">
  <div class="col-md-12 center">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3"><h2>Filtri:</h2></div>
  <div class="col-md-6">
    <h1>Projects</h1>
      <ul style="text-align: center; margin-left: 0px;">   
        <% @projects.each do |project| %>
          <li class="li-p">
            <h2><%= project.title %></h2>
            <p>author: <%= project.teamleader.first_name %> <%= project.teamleader.last_name %></p>
          </li>
        <% end %>
      </ul>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>
