/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 /* universal */
 
 html {
   overflow-y: scroll;
 }
 
 body {

 }
 
 section {
   overflow: auto;
 }
 
 textarea {
   resize: vertical;
 }
 
 .center {
   text-align: center;
 }
 
 .center h1 {
 
 }
 
 
 /* typography */
 
 h1, h2, h3, h4, h5, h6 {
     line-height: 1;
 }
 
 h1 {
     font-size: 3em;
     letter-spacing: -2px;
     text-align: center;
 }
 
 h2 {
     font-size: 1.2em;
     letter-spacing: -1px;
     text-align: center;
     font-weight: normal;
     color:white;
 }
 
 p {
     font-size: 1.1em;
     line-height: 1.7em;
 }
 
 /* header */
 
 #logo {
     float: left;
     font-size: 1.7em;
     color: rgb(255, 255, 255);
     /*text-transform: uppercase;*/
     letter-spacing: 1.5px;
     font-weight: bold;
 }
   
 #logo:hover {
     text-decoration: none;
     background-color: transparent;
 }
 
 .navbar-toggler{
     color: white !important;
 }

.menu {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    border: 0;
    border-radius: 0;
}

.menu-item {
    padding-bottom: 5px;
    color: white !important;
    letter-spacing: 5px;
    font-size: 16px;
    margin-left: 40px;
}

.menu-item:hover {
    color: greenyellow !important;
}

.menu-item-active {
    color: greenyellow !important;
    letter-spacing: 5px;
    font-size: 16px;
    margin-left: 40px;
}

.menu-item-active:hover {
    color: greenyellow;
}

.navbar {
    background-color: #000;
    z-index: 9999;
}

.nav-link {
    padding-bottom: 0;
}
 
 
 /* forms */
 
 @mixin box_sizing {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
 }
 
 .container{
   padding-top: 0;
 }
 
 .row {
    width: 100%; 
    margin: 0px auto;
 }
 
 input, textarea, select, .uneditable-input {
   border: 0.5px solid #bbb;
   width: 100%;
   margin-bottom: 15px;
   @include box_sizing;
 }
 
 input {
   height: auto !important;
 }

.container{
   margin-top: 3.5%;
 }

 .message{
  margin: 0 0 2em;
  padding: 1em 15px 0 50px;
  border-style: solid;
  border-width: 2px 0}

.message p{
  margin: 0 0 1em;
}

.message.error{
  background: #FFD8D6 url(error20.png) no-repeat 15px 50%;
  border-color: #FF0038;
}
 
li{
  list-style-type:none;
}

.max_width{
  width: 100%;
}

.space{
  margin-top:10%;
}

.space_2{
  margin-top: 3%;
}

#search_bar input{
  border: 1px solid #323232; /* Bordo */
  /*height: 50px; /* Altezza */
  width: 100%;
  line-height: 35px;
  padding-left: 2%;
  border-radius: 5px 5px 5px 5px;
}